﻿<style>

</style>
@{
    ViewData["Title"] = "Links";
}

<h2>@ViewData["Title"] related to @ViewData["keyword"] on url @ViewData["url"]</h2>

<h4>Total Found: @ViewData["count"]</h4>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Result</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in ViewData["linkArray"] as IEnumerable<string>)
            {
                @Html.Raw(link)
            }
        </tbody>
    </table>
</div>