﻿<style>
    form{
        display: flex;
        flex-direction: column;
    }
    input {
        margin: 5px;
    }
</style>
@{
    ViewData["Title"] = "Keyword Search";
}
<div class="container">
    <div class="jumbotron">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="row">
        <div class="col">
            <form asp-controller="Home" asp-action="FindURLKeyWords" method="post">
                <div class="form-group">
                    <label>URL</label><input class="form-control" name="url" type="url" value="https://www.google.co.uk/search?num=100&q=land+registry+search" />
                </div>
                <div class="form-group">
                    <label>Search URL</label><input class="form-control" name="keyword" type="text" />
                </div>
                <input class="btn btn-success" type="submit" />
            </form>
        </div>
    </div>
</div>
